{% extends "network/layout.html" %}

    {% block body %}

        {% if user.is_authenticated %}

            {% block style %}

                <style>

                    .post {
                        background-color: #77dd11;
                        padding: 20px;
                        margin-bottom: 10px;
                        /* animation-name: "userpost"; */
                        animation-duration: 2s;
                        animation-fill-mode: forwards;
                        animation-play-state: paused;
                    }

                    body {
                        padding-bottom: 50px;
                    }

                </style>

            {% endblock %}            

            {% block javascript %}

                <div id="userpost-view" class="userPost" >
                    <h3>All posts</h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Post</button>
                    </form>
                </div>
                
                <script>

                    // When DOM loads, render the first 20 posts
                    document.addEventListener('DOMContentLoaded', load(1));

                    // Edit a post
                    document.addEventListener('click', event => {
                        const element = event.target;

                        if (element.className === "editpost") {

                            // First hide the views that I do not want to display
                            document.querySelectorAll("#posts").forEach(container => {
                                container.style.display = 'none';
                            });
                            document.querySelectorAll("#following_posts").forEach(container => {
                                container.style.display = 'none';
                            });
                            document.querySelectorAll("#user_posts").forEach(container => {
                                container.style.display = 'none';
                            });
                            document.querySelector("#profile").style.display = 'none';
                            document.querySelector("#userpost-view").style.display = 'none';
                            document.querySelector("#next-prev-link").style.display = 'none';
                            document.querySelector("#edit-form").style.display = 'block';

                            //document.querySelector("#nav-bar").style.display = 'none';

                            // Set a GET request to load the edit view
                            let post_id = element.value;

                            fetch(`/edit/${post_id}`)
                            .then(response => response.json())
                            .then(data => {
                                var edition = document.getElementById('edition');
                                edition.innerHTML = data.content;
                                var content = edition.innerHTML;
                                //var content = "Astro";

                                // Save the edited post and save it to database
                                edition.addEventListener('input', function() {
                                    var editedValue = edition.value;
                                    edition.innerHTML = "";
                                    edition.append(editedValue);
                                    content = edition.innerHTML;
                                });

                                document.querySelector("#edit-form").addEventListener('submit', function(event) {

                                    // Prevent the defaul form submission
                                    event.preventDefault();
                                    //console.log(edition);

                                    // Fetch the API to submit the form
                                    fetch(`/edit/${post_id}`, {
                                        method: 'PUT',
                                        body: JSON.stringify({
                                            content: content
                                        })
                                    })
                                    .then(response => {
                                        if(!response.ok) {
                                            throw new Error("Network response was not OK");
                                        }
                                    })
                                    .then(result => {
                                        console.log(result);
                                    })
                                    .catch(error => {
                                        console.log("There was a problem with the fetch operation", error);
                                    })
                                 });
                            })
                            .catch(error => {
                                console.error("Error fetching HTML:", error);
                            });
                        }
                    });


                    // Access the user profile
                    document.addEventListener('click', event => {
                        const element = event.target;
                        if (element.id === 'userName' | element.className === 'userpost') {

                            // First hide the views that I do not want to display
                            document.querySelectorAll("#posts").forEach(container => {
                                container.style.display = 'none';
                            });
                            document.querySelectorAll("#following_posts").forEach(container => {
                                container.style.display = 'none';
                            });
                            document.querySelectorAll("#user_posts").forEach(container => {
                                container.style.display = 'block';
                            });
                            document.querySelector("#profile").style.display = 'block';
                            document.querySelector("#userpost-view").style.display = 'none';
                            document.querySelector("#next-prev-link").style.display = 'none';
                            document.querySelector("#edit-form").style.display = 'none';

                            // Get username via API to upload Community contents
                            let username = element.value;

                            if (element.id == 'userName') {
                                username = element.innerText;
                            }

                            fetch(`/profile/${username}`)
                            .then(response => response.json())
                            .then(data => {

                                // Load the user profile
                                document.querySelector("#profile").innerHTML = `<p> ${data.user} </p> \n
                                                                                <p> ${data.nFollowers} followers and \n
                                                                                follows ${data.nUserFollowers} </p> \n
                                                                                <p> ${data.signedInUser}`;
                                
                                // Create the follow and unfollow buttons
                                if (data.user!==data.signedInUser) {
                                    const button = document.createElement("button");
                                    button.innerText = "Follow";
                                    button.id = "btnFollow";
                                    document.querySelector('#profile').append(button);
                                    const button2 = document.createElement("button");
                                    button2.innerText = "Unfollow";
                                    button2.id = "btnUnfollow";
                                    document.querySelector('#profile').append(button2);
                                }

                                // Load the followers' posts
                                document.querySelector('#user_posts').innerHTML = '';
                                data.posts.forEach(contents => {            
                                    // Create new post
                                    const post = document.createElement('div');
                                    post.className = 'post';
                                    post.innerHTML = `<button class="userpost" value=${contents.user}> \n
                                                    ${contents.user} </button> posted: <br> \n
                                                    ${contents.content} <br> \n ${contents.timestamp} <br> \n
                                                    ${contents.likes} likes`;

                                    // Add post to DOM
                                    document.querySelector('#user_posts').append(post);
                                })
                            });
                        }
                    });    


                    // Display posts of the users' following 
                    document.querySelector("#following").addEventListener('click', function(event) {
                        
                        // Prevent the default form submission
                        event.preventDefault();

                        // Hide objects that are not supposed to show
                        document.querySelectorAll("#posts").forEach(container => {
                            container.style.display = 'none';
                        });
                        document.querySelectorAll("#user_posts").forEach(container => {
                            container.style.display = 'none';
                        });
                        document.querySelectorAll("#following_posts").forEach(container => {
                            container.style.display = 'block';
                        });
                        document.querySelector("#profile").style.display = 'none';
                        document.querySelector("#userpost-view").style.display = 'none';
                        document.querySelector("#next-prev-link").style.display = 'none';
                        document.querySelector("#edit-form").style.display = 'none';

                        // Define the user
                        const username = document.querySelector("#userName").innerText;
                        // Fetch the API with the following users' posts
                        fetch(`/following/${username}`)
                        .then(response => response.json())
                        .then(data => {
                            // Load the users' following posts
                            data.posts.forEach(contents => {            
                                // Create new post
                                const post = document.createElement('div');
                                post.className = 'post';
                                post.innerHTML = `<button class="userpost" value=${contents.user}> \n
                                                ${contents.user} </button> posted: <br> \n
                                                ${contents.content} <br> \n ${contents.timestamp} <br> \n
                                                ${contents.likes} likes`;

                                // Add post to DOM
                                document.querySelector('#following_posts').append(post);
                            })
                        });
                    });
                        

                    // Load the posts posts
                    function load(pageNumber) {

                        // Get the new posts and add posts
                        // fetch(`/posts?start=${start}&end=${end}`)
                        fetch(`/posts/?page=${pageNumber}`)
                        .then(response => response.json())
                        .then(data => {
                            data.posts.forEach(item => {
                                // data.posts.forEach(add_post);
                                const post = document.createElement('div');
                                // post.innerHTML = '';
                                post.className = 'post';
                                if (item.user!==data.signedInUser) {
                                    post.innerHTML = `<button class="userpost" value=${item.user}> \n
                                            ${item.user} </button> posted: <br> ${item.content} \n
                                            <br> ${item.timestamp} <br> ${item.likes} likes`;
                                } else {
                                    post.innerHTML = `<button class="userpost" value=${item.user}> \n
                                            ${item.user} </button> posted: <br> ${item.content} \n
                                            <br> <button class="editpost" value=${item.id}>Edit \n
                                            </button> <br> ${item.timestamp} <br> ${item.likes} likes`;                                    
                                }
                                // Add post to DOM
                                document.querySelector('#posts').append(post);
                            });

                            // Handle pagination links
                            const paginationLinks = document.getElementById("next-prev-link");
                            // let page_number = data.page_number;
                            paginationLinks.innerHTML = '';
                            if (data.has_previous) {
                                // paginationLinks.innerHTML += `<a href="#" onclick="load(${data.page_number-1})">Previous</a>)`;
                                const previous_button = document.createElement('button');
                                previous_button.innerText = "Previous";
                                previous_button.addEventListener("click", () => {
                                    document.querySelectorAll("#posts").forEach(container => {
                                        container.innerHTML = '';
                                    });
                                    load(data.page_number - 1);
                                });
                                paginationLinks.append(previous_button);
                            }
                            const legend = document.createElement('text');
                            legend.innerHTML += `Page ${data.page_number} of ${data.total_pages}`;
                            paginationLinks.append(legend);
                            // paginationLinks.innerHTML += `Page ${data.page_number} of ${data.total_pages}`;
                            if (data.has_next) {
                                // paginationLinks.innerHTML += `<a href="#" onclick="load(${data.page_number+1})">Next</a>`;
                                const next_button = document.createElement('button');
                                next_button.innerText = "Next";
                                next_button.addEventListener("click", () => {
                                    document.querySelectorAll("#posts").forEach(container => {
                                        container.innerHTML = '';
                                    });
                                    load(data.page_number + 1);
                                });
                                paginationLinks.append(next_button);
                            }
                        })
                        .catch(error => console.error('Error', error));
                    }

                </script>


                <div id="posts">
                </div>

                <div id="profile">
                </div>

                <div id="user_posts">
                </div>

                <div id="next-prev-link">
                </div>

                <div id="following_posts">
                </div>

                <div id="content">
                </div>


                <form id="edit-form" method="post">
                    {% csrf_token %}
                    <h1 class="display-4">Edit:</h1>    
                    <textarea id="edition" rows="4" cols="50"></textarea>
                    <br>
                    <input class="btn btn-secondary" type="submit" value="Save"/>
                </form>
            

            {% endblock %}

        {% endif %}

    {% endblock %}
